{% extends "base.html" %}
{% block title %}FAQ{% endblock title %}
{% block body %}
<style>
    /* body {
        background-color: rgb(186, 190, 248);

        max-width: 100%;
         border-radius: 5px;
        font-family: Arial, sans-serif;
    } */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ice Cream FAQ</title>

{% endblock body %}