{% extends "base.html" %}
{% block body%}

<div class="container">
  <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Update Ice-Cream</h2>
    <hr>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Ice-Cream Name</label>
      <input name="IceCream_name" value="{{icecream.icecream_name}}" required type ="text" class="form-control">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1"  class="form-label">Ice-Cream description</label>
      <textarea  class="form-control" name ="IceCream_description" required>{{icecream.icecream_description}}"</textarea>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Ice-Cream Image</label>
      <input name ="IceCream_image" type="file" class="form-control">

    </div>
    
    <button type="submit" class="btn btn-success">Update Receipe</button>
  </form>
   
 
</div>

{% endblock %}
    
